.introduction_wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden
}

.introduction_image-wrapper {
  position: absolute;
  overflow: hidden
}

.introduction_image {
  object-fit: cover
}

.introduction_text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3vw;
  color: #fff
}