.headline_image-container {
    height: 100vh;
    width: 100%;
    overflow: hidden
}

.headline_image-apartment {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
    object-fit: cover
}

.headline_main-text {
    color: #fff;
    font-size: clamp(4rem,10vw,8rem);
    letter-spacing: -.2vw;
    line-height: clamp(4rem,10vw,8rem);
    width: 100%;
    animation-name: headline_entrance;
    animation-duration: 1s;
    animation-iteration-count: 1
}

.headline_sub-text {
    color: #fff;
    font-size: 1.25rem;
    margin-left: .6vw;
    display: flex;
    flex-direction: row;
    animation-name: headline_entrance;
    animation-duration: 1s;
    animation-iteration-count: 1
}

.headline_footer {
    width: 60%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 5%;
    flex: 1;
    z-index: 5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: clamp(1.5rem,5vw,3rem);
    line-height: clamp(1.5rem,5vw,3rem);
    transform-origin: center bottom;
}

@keyframes headline_entrance {
    0% {
        transform: translateY(50%);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}