@import 'tailwindcss';

html * {
  font-family: Nunito Sans, sans-serif !important;
}

#root {
  background-color: #181a19;
  font-size: 16px
}

.bg-dark {
  background-color: #181a19;
}

.bg-cool {
  background-color: #374151;
}